.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f4f4;
}

.input {
  height: 38px;
  border-radius: 2em;
  max-width: 300px;
  width: 100%;
  margin: 24px 0;
  padding: 8px;
  outline: none;
  border: 2px solid #252525;
  font-size: 1.1em;
  text-align: center;
  font-weight: 600;
}

a {
  padding: 1rem;
  border: 1px solid #252525;
  border-radius: 5px;
  font-size: 1.4em;
  font-weight: 500;

  cursor: pointer;
  color: white;
  background-color: #f86262;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #252525;
}

/* a:hover {
  transform: scale(1.10)
} */

a:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 1.3em;
}